/* Scroll Bar */
.sidebar .sidebarBody::-webkit-scrollbar {
  display: none !important;
}
.sidebar .sidebarBody {
  scrollbar-width: none !important;
}
.sidebar .sidebarBody {
  width: 280px;
  transition: all 0.3s linear;
}
.sidebar.active .sidebarBody {
  transform: translateX(-280px);
}

.topNavbar {
  padding-left: 280px;
  transition: all 0.3s linear;
}
.topNavbar.active {
  padding-left: 0;
}

.content {
  padding-left: 280px;
  transition: all 0.3s linear;
}
.content.active {
  padding-left: 0;
}

.profile__intro {
  visibility: hidden;
  opacity: 0;
}
.profileIcon:hover .profile__intro {
  visibility: visible;
  opacity: 1;
}

.pagination a.active {
  background-color: #a855f7;
  color: #fff;
}

/* ToastContainer */

.Toastify__toast-container {
  width: 100% !important;
  height: 100vh !important;
  top: 0 !important;
  position: fixed;
  background: none !important;
  padding: 0 !important;
  cursor: none !important;
  transition: none !important;
}

.Toastify__toast {
  width: 100%;
  height: 100vh;
  box-shadow: none !important;
  padding: 0;
  margin: 0;
  background: rgba(36, 36, 36, 0.568) !important;
  transition: none !important;
  cursor: auto !important;
}

.Toastify__close-button {
  display: none !important;
  transition: none !important;
}

.swirl-in-fwd {
  animation: swirl-in-fwd 0.1s ease-in both;
}

.pagination__data .active a {
  color: #fff !important;
}
.ql-tooltip-editor {
  display: none;
}

@keyframes swirl-in-fwd {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swirl-out-bck {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.swirl-out-bck {
  animation: swirl-out-bck 0.1s ease-in both;
}
