/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
  border-radius: 2px;
}

.accordion__item + .accordion__item {
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}

.accordion__button {
  background-color: #0f172a;
  color: #fff;
  cursor: pointer;
  padding: 9px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 4px;
  position: relative;
}

.accordion__button:hover {
  background-color: #2c3344;
}

.accordion__button:before {
  position: absolute;
  display: inline-block;
  content: "";
  height: 8px;
  width: 8px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
  right: 5px;
  top: 21px;
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
  transform: rotate(45deg);
}

[hidden] {
  display: none;
}

.accordion__panel {
  padding: 10px 0;
  animation: fadein 0.35s ease-in;
}

.accordion__panel a {
  background-color: #0f172a;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 4px;
  padding-left: 20px;
}
.accordion__panel a:hover {
  background-color: #2c3344;
}
.accordion__panel a.active {
  background-color: #9333ea;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
